body {
    background-color: #fffffb;
    text-align: center;
}

/* Hide the mobile menu by default */
.mobile-menu {
    display: none;
    flex-direction: column;
    background-color: transparent;
    position: absolute;
    top: 50px;
    right: 0; /* Align the entire mobile menu to the right */
    width: 50%; /* Adjust the width as needed */
    z-index: 1;
}

.mobile-menu button {
    color: black;
    padding: 15px;
    border: none;
    text-align: right; /* Align button text to the right */
    width: 100%;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    transition: background-color 0.3s ease;
}

/* Align the hamburger menu to the top right corner and increase the clickable area */
.hamMenu {
    display: none;
    font-size: 30px;
    cursor: pointer;
    width: 50px; /* Ensure the clickable area has enough width */
    height: 50px; /* Ensure the clickable area has enough height */
    color: black;
    position: absolute;
    top: 10px;
    right: 10px; /* Align to the right */
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    box-sizing: border-box;
    z-index: 100; /* Ensure it's above other elements */
}

.mobile-menu button:hover {
    color: #767676;
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
    .tab {
        display: none; /* Hide desktop buttons */
    }

    .hamMenu {
        display: block; /* Show hamburger icon */
    }
}

/* Media query for large screens */
@media screen and (min-width: 769px) {
    .hamMenu {
        display: none; /* Hide hamburger menu */
    }
}

.header {
    padding: 10px;
    background: none;
    color: transparent;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
}

.title{
    padding: 5px;
    opacity: 0;
    transform: translateY(25px); /* Move content down initially */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.tablinks {
    color: black;
    float: left !important;
    background: none !important;
    border: none !important;
    text-decoration: underline;
    cursor: pointer;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    transition: background-color 0.3s ease;
}

.menu-open .container{
    margin-right: 50%;
    transition: margin-right 0.3s ease;

}

.slideContainer{
    width: 100%;
    height: 100vh;
    padding: 10px;
}

.slides{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 100px;
    opacity: 0;
    transform: translateY(25px); /* Move content down initially */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.contact{
    opacity: 0;
    transform: translateY(25px); /* Move content down initially */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

h1{
	color: black;
	font-family: 'Sorts Mill Goudy', serif;
	font-size: 50px;
}

h2 {
	color: black;
	font-family: 'Sorts Mill Goudy', serif;
	font-size: 30px;
}

h3 {
    color: black;
}

.slideText{
    display: inline-block;
    padding: 5px;
    color: black;
    opacity: 0;
    transform: translateY(25px); /* Move content down initially */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

hr {
    background-color: black;
    border: none;
    width: 80%;
    height: 2px;
}

.tab{
    color: black;
    opacity: 0;
    transform: translateY(25px); /* Move content down initially */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.visible {
    opacity: 1;
    transform: translateY(0); /* Content comes back to its original position */
}
