body {
    background-color: #fffffb;
    text-align: center;
}

.header {
    padding: 10px;
    background: none;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
}

.title{
    padding: 5px;
}

.tablinks {
    float: left !important;
    background: none !important;
    border: none !important;
    text-decoration: underline;
    cursor: pointer;
}

.container{
    width: 100%;
    height: 100vh;
    padding: 10px;
}

.slides{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 100px;
    opacity: 0;
    transform: translateY(15px); /* Move content down initially */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

h1{
	color: black;
	font-family: 'Sorts Mill Goudy', serif;
	font-size: 50px;
}

h2 {
	color: black;
	font-family: 'Sorts Mill Goudy', serif;
	font-size: 30px;
}

h3 {
    color: black;
}

.slideText{
    display: inline-block;
    padding: 5px;
    color: black;
    opacity: 0;
    transform: translateY(15px); /* Move content down initially */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

hr {
    background-color: black;
    border: none;
    width: 80%;
    height: 2px;
}

.tab{
    color: black;
}

.image{
    opacity: 0;
    transform: translateY(15px); /* Move content down initially */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.visible {
    opacity: 1;
    transform: translateY(0); /* Content comes back to its original position */
}
