body {
    background-color: #fffffb;
    text-align: center;
}

.picture{
    max-width: 100%;
    height: auto;
}

.custom-navbar {
    background-color: transparent;
    padding: 15px 30px;
}

/*Hamburger Menu USE LOGO*/
.navbar-toggler-icon {
    background-color: black;
}

.navbar-toggler-icon :hover {
    cursor: pointer;
}

.custom-nav-tabs .nav-link{
    cursor: pointer;
    font-size: 20px;
}

.custom-col {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
}

.title{
    padding: 5px;
    opacity: 0;
    transform: translateY(25px); /* Move content down initially */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.tablinks {
    color: black;
    float: left !important;
    background: none !important;
    border: none !important;
    text-decoration: underline;
    cursor: pointer;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    transition: background-color 0.3s ease;
}

.menu-open .container{
    margin-right: 15%;
    transition: margin-right 0.3s ease;
}

.container-fluid{
    width: 80%;
    height: 80%;
}

.slideContainer{
    width: 100%;
    height: 100vh;
    padding: 10px;
}

.slides{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom: 100px;
    opacity: 0;
    transform: translateY(20px); /* Move content down initially */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.contact{
    opacity: 0;
    transform: translateY(20px); /* Move content down initially */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

h1{
	color: black;
	font-family: 'Sorts Mill Goudy', serif;
	font-size: 50px;
}

h2 {
	color: black;
	font-family: 'Sorts Mill Goudy', serif;
	font-size: 30px;
}

h3 {
    color: black;
}

.slideText{
    display: inline-block;
    padding: 5px;
    color: black;
    opacity: 0;
    transform: translateY(20px); /* Move content down initially */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

hr {
    background-color: black;
    border: none;
    width: 100%;
    height: 2px;
}

.tab{
    color: black;
    opacity: 0;
    transform: translateY(20px); /* Move content down initially */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.visible {
    opacity: 1;
    transform: translateY(0); /* Content comes back to its original position */
}
